/* ----------------------- 폰트 ------------------------- */
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  position: relative;
}

#footer {
  position: absolute;
  width: 100%;
}

.board-list {
  width: 1040px;
  margin: 130px auto;
  gap: 40px;
  font-family: "GowunBatang-Regular";
}

hr.hr-1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(169, 183, 219, 0),
    rgba(78, 177, 223, 0.75),
    rgba(169, 183, 219, 0)
  );
}

#matzip-list-items {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.more-btn {
  text-decoration: none;
  color: black;
  position: relative;
  left: 91%;
  top: 10px;
}

@media (max-width: 1100px) {
  .more-btn {
  }
}

.matzip-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 380px;
  background: linear-gradient(135deg, #d5e6f1 0%, #dddfe0 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
}

.matzip-list:hover {
  background-color: #cce0e7;
}

.matzip-list > span:last-child {
  color: gray;
}

.matzip-list span {
  padding: 15px 30px 0 30px;
}

.board-image {
  width: 100%;
  height: 250px;
}

.board-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
