<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css"
    />
    <link rel="stylesheet" href="../css/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <footer class="footer">
      <hr role="tournament2" />

      <div class="images">
        <img class="image" src="../images/구로디지털.png" alt="" srcset="" />
        <img class="image" src="../images/따듯한동행.png" alt="" srcset="" />
        <img class="image" src="../images/코사.png" alt="" srcset="" />
        <img class="image" src="../images/포스코.png" alt="" srcset="" />
      </div>
      <div class="footer-content">
        한국장애인고용공단과 따뜻한 동행이 함께하는 장애인 디지털
        아카데미입니다.
        <br />
        다함께 협동해서 만든 첫 프로젝트입니다.
      </div>
    </footer>
  </body>
</html>
